<!DOCTYPE html>
<html>
  <head>
    <!-- Import Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
      {% include 'navbar.html'%}
    <div class="container">
      <div class="row">
        <form method="POST" action="/login">
  <div class="row">
    <div class="input-field col s12">
      <input id="username" type="text" name="username">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" name="password">
      <label for="password">Password</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
</form>

      </div>
    </div>
  </body>
</html>
