<!DOCTYPE html>
<html>

<head>
  <style>
    .card-panel {
      padding: 24px;
    }
  </style>
</head>

<body>
  {% include 'navbar.html' %}
  <div class="container">
    <div class="card-panel">
      <h4>Profile</h4>
      <div id="display">
        <p>Username: <span id="username">{{username}}</span></p>
        <p>Name: <span id="name">{{name}}</span></p>
        <p>Bio: <span id="bio">{{bio}}</span></p>
      </div>
      <div id="edit" style="display: none">
        <form action="/profile" method="post">
          <div class="input-field">
            <input type="text" id="name-edit" name="name" value="{{name}}">
            <label for="name-edit">Name</label>
          </div>
          <div class="input-field">
            <textarea id="bio-edit" class="materialize-textarea" name="bio">{{bio}}</textarea>
            <label for="bio-edit">Bio</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit">Save</button>
        </form>
      </div>
      <button class="btn-floating btn-large waves-effect waves-light red" id="edit-button" style="float: right"><i class="material-icons">edit</i></button>
    </div>
    <a class="waves-effect waves-light btn red" onclick="logout()"><i class="material-icons right">logout</i>Logout</a>
  </div>


  <script>
    $("#edit-button").click(function () {
      $("#display").toggle();
      $("#edit").toggle();
    });

    function logout()
    {
      swal({
  title: "Are you sure?",
  text: "You will be loggded out of your account",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    finalLogOut();
  } else {
    swal("Cancelled! logout");
  }
});
    }

    function finalLogOut()
    {location.href='/logout';}
  </script>
</body>

</html>
