<!DOCTYPE html>

<html>

  <head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>

      {% include 'navbar.html'%}

    <div class="container">

      <form method="POST" action="/register">

      <div class="row">

    <div class="input-field col s12">

      <input id="name" type="text" name="name">

      <label for="name">Name</label>

    </div>

  </div>  

  <div class="row">

    <div class="input-field col s12">

      <input id="username" type="text" name="username">

      <label for="username">Username</label>

    </div>

  </div>

  <div class="row">

    <div class="input-field col s12">

      <input id="password" type="password" name="password">

      <label for="password">Password</label>

    </div>

  </div> 

  <div class="row">

    <div class="input-field col s12">

      <input id="password2" type="password" name="password2">

      <label for="password">Confirm Password</label>

    </div>

  </div>

  <div class="row">

    

      <div class="input-field">

        <textarea id="bio " name="bio" class="materialize-textarea" required></textarea>

        <label for="bio">Bio</label>

      </div>

  </div>

  <button class="btn waves-effect waves-light" type="submit">Submit

    <i class="material-icons right">send</i>

  </button>

</form>


    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  </body>

</html>